{
  "extends": [
    "standard",
    "plugin:vue/strongly-recommended"
  ],
  "env": {
    "mocha": true,
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "vue"
  ],
  "rules": {
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "semi": [2, "always"],
    "vue/html-self-closing": "off",
    "vue/max-attributes-per-line": "off"
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "classes": true
    }
  }
}
