<div>
  <div class="header">
    <mat-progress-bar
      mode="indeterminate"
      [class.hidden]="!loading"
    ></mat-progress-bar>
    <app-toolbar
      [title]="title"
      [(keyword)]="searchKeyword"
      (search)="onSearchKeyword()"
      (githubIconClick)="onGithubIconClick()"
    ></app-toolbar>
  </div>

  <div class="content">
    <mat-tab-group
      color="accent"
      backgroundColor="primary"
      (selectedTabChange)="onSelectedTabChange($event)"
      [(selectedIndex)]="selectedTabIndex"
    >
      <mat-tab label="Articles">
        <app-blogs
          [blogs]="blogs"
          (viewBlogDetail)="onViewBlogDetail($event)"
          (tagClick)="onTagClick($event)"
        ></app-blogs>
      </mat-tab>
      <mat-tab label="Tags">
        <app-tags [tags]="tags" (tagClick)="onTagClick($event)"></app-tags>
      </mat-tab>
      <mat-tab label="Archives">
        <app-archives
          [archives]="archives"
          (archiveClick)="onArchiveClick($event)"
        ></app-archives>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
